html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

body p.flow-text {
  font-size: 1.2rem;
  font-weight: 400;
}

body .fab, body .fas {
  color: #546e7a;
}

body div.navbar-fixed, body nav, body div.nav-wrapper {
  text-align: center;
}

body div.navbar-fixed ul.center, body nav ul.center, body div.nav-wrapper ul.center {
  display: inline-block;
}

body footer.page-footer {
  padding-top: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

body div.container div.home-panel {
  margin-top: 2rem;
}

body div.container div.home-panel img.responsive-img {
  height: 25em;
}

body div.container div.home-panel h4.job-title {
  margin-top: 0;
}

body div.container div.contact-panel div.contact-form {
  margin-top: 2rem;
}

body div.container div.contact-panel div.contact-form h4 {
  margin-bottom: 1em;
}

body div.container div.contact-panel div.contact-form button {
  background-color: #546e7a;
}

body div.container div.contact-panel div.contact-form button i.fas {
  color: white;
}

body div.container div.contact-panel div.spacer div {
  height: 35rem;
}

body div.container div.contact-panel div.spacer div div {
  width: 2px;
  height: 15rem;
  margin-left: 50%;
}

body div.container div.contact-panel div.contact-methods {
  margin-top: 2rem;
}

body div.container div.contact-panel div.contact-methods div.personal-contact:first-of-type {
  margin-top: 5rem;
}

body div.container div.contact-panel div.contact-methods div.personal-contact {
  margin-bottom: 3rem;
}

body div.container div.contact-panel div.contact-methods div.personal-contact p {
  margin-top: 0;
  margin-bottom: 0;
}

body div.container div.contact-panel div.contact-methods div.social-row {
  margin-top: 4rem;
}

body div.container div.contact-panel div.contact-methods div.social-row div.social-contact a {
  color: unset;
}

body div.container div.about-panel {
  margin-top: 2rem;
}

body div.container div.experience-panel {
  margin-top: 2rem;
}